<section class="h-cite u-quotation-of">

    <a class="u-url" href="{{ quotation_url }}"></a>

    {% if cite %}
        <div class="e-summary">
            {% if showCiteSummary %}
                "<em>{{ cite.summary }}</em>"
            {% endif %}
            {% if showEmbed %}
                {{ embed }}
            {% endif %}
        </div>
    {% endif %}

	{% if not embed %}
    <div>
        --
        {% if title %} {{ title }} {% endif %}
        {% if author %} {{ by }} {{ author }} {% endif %}
        {% if site_name %}
            <em>(<span class="p-publication">{{ site_name }}</span>)</em>
        {% endif %}
    </div>
	{% endif %}
</section>
<br/>
