<section class="h-cite u-quotation-of">

    <a class="u-url" href="{{ meta_url }}"></a>

    {% if cite %}
        <div class="e-summary">
        "{{ quoteText }}"
        </div>
    {% endif %}

	<header>
	{% if not embed %}
    --
    {% if title %} {{ title }} {% endif %}
    {% if author %} {{ by }} {{ author }} {% endif %}
    {% if site_name %}
    <em>(<span class="p-publication">{{ site_name }}</span>)</em>
    {% endif %}
	{% endif %}
	</header>
</section>
<br/>
